{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-4 offset-4">
        <h2>Login to your account</h2>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Log-in</h5>
                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        <p class="card-text">Incorrect username or password. Please try again.</p>
                    </div>
                {% else %}
                    <p class="card-text">Please, use the following form to log-in:</p>
                {% endif %}
                <form action="{% url 'login_account' %}" method="post">
                    <div class="form-group">
                    {% csrf_token %}
                        {% for form_field in form %}
                            <div class="mb-3">
                                <label for="{{ form_field.id_for_label }}" class="form-label">{{ form_field.label }}</label>
                                <input id="{{ form_field.id_for_label }}" class="form-control" type="{{ form_field.widget_type }}" name="{{ form_field.name }}">
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary">Log in</button>
                    </div>
                </form>
                <br>
                <p class="card-text">
                    <a href="{% url "password_reset" %}">Forgotten your password?</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}