{% extends 'base_black1.html' %}
{% block content %}
<div class="row">
    <div class="col-lg-6 offset-0">
        <h2>Acceda a su cuenta</h2>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Acceder</h5>
                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        <p class="card-text">Usuario o contraseña incorrecta, Intente nuevamente.</p>
                    </div>
                {% else %}
                    <p class="card-text">Ingrese sus credenciales:</p>
                {% endif %}
                <form action="{% url 'login_account' %}" method="post">
                    <div class="form-group">
                    {% csrf_token %}
                        {% for form_field in form %}
                            <div class="mb-3">
                                <label for="{{ form_field.id_for_label }}" class="form-label">{{ form_field.label }}</label>
                                <input id="{{ form_field.id_for_label }}" class="form-control" type="{{ form_field.widget_type }}" name="{{ form_field.name }}">
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary">Acceder</button>
                    </div>
                </form>
                <br>
{#                <p class="card-text">#}
{#                    <a href="{% url "password_reset" %}">Olvido su contraseña?</a>#}
{#                </p>#}
            </div>
        </div>
    </div>
</div>
{% endblock content %}