{% extends 'base_black1.html' %}
{% block content %}
<div class="row mb-3">
    <div class="col-lg-6">
        <h2>Sesion terminada</h2>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Sesion terminada</h5>
                <p class="card-text">Su sesion fue terminada.
                    Usted puede <a href="{% url 'login_account' %}"> acceder nuevamente</a>.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}