{% extends 'base_black1.html' %}
{% block content %}
<div class="row mb-3">
    <div class="col-lg-6">
      <h2>Mis reservas - Areas Comunes</h2>
      <div class="card">
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Costo</th>
                <th scope="col">Fecha</th>
                <th scope="col">Estado</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              {% for reserva in mis_reservas %}
              <tr>
                <td>{{ reserva.area_comun.nombre }}</td>
                <td>{{ reserva.area_comun.costo }}</td>
                <td>{{ reserva.fecha }}</td>
                {% if reserva.confirmada == 0 %}
                  <td>Pendiente</td>
                  <td></td>
                {% else %}
                  <td>Confirmado</td>
                  <td>
                    <a id="btnShowReceipt{{ reserva.id }}"
                                       {% if reserva.confirmada == 0 %}hidden{% endif %}
                                       class="btn btn-success" role="button" href="{% url 'ver_recibo' reserva.id %}"
                                       target="_new">Recibo</a>
                  </td>
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}