{% extends 'base_black1.html' %}
{% block content %}
    <div class="row mb-3">
        <div>
            <h2>Cuenta creada</h2>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Cuenta creada</h5>
                    <p class="card-text">
                        Su cuenta ha sido creada. Recibira un email del administrador del edificio cuando su cuenta haya sido activada.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}